<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Contracts</h4>
      </div>

      <!-- Contract selector contract dropdown -->
      <div class="row px-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="cfrm-select-contract_id">Select Contract ID</label>
            <select class="form-control" id="cfrm-select-contract_id">
              <!-- Options will be injected here -->
            </select>
          </div>
        </div>
      </div>

      <div class="card-header">
        <h5 class="title">Contract Information</h5>
      </div>

      <div class="card-body">
        <form id="contractForm">
          <!-- Loan Basics -->
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-loan_contract_id">Loan Contract ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="cfrm-loan_contract_id"
                  readonly
                />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-age">Age</label>
                <input type="number" class="form-control" id="cfrm-age" />
              </div>
            </div>
          </div>

          <!-- Engagement -->
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-campaign_engagement_score"
                  >Campaign Engagement Score</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="cfrm-campaign_engagement_score"
                />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-channel_responsiveness">Channel Responsiveness</label>
                <input
                  type="text"
                  class="form-control"
                  id="cfrm-channel_responsiveness"
                />
              </div>
            </div>
          </div>

          <!-- Credit -->
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-credit_history_length"
                  >Credit History Length (Years)</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="cfrm-credit_history_length"
                />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-credit_score">Credit Score</label>
                <input type="number" class="form-control" id="cfrm-credit_score" />
              </div>
            </div>
          </div>

          <!-- Loan Details -->
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-loan_type">Loan Type</label>
                <input type="text" class="form-control" id="cfrm-loan_type" />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-loan_amount">Loan Amount ($)</label>
                <input type="number" class="form-control" id="cfrm-loan_amount" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-loan_term">Loan Term (Months)</label>
                <input type="number" class="form-control" id="cfrm-loan_term" />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-interest_rate">Interest Rate (%)</label>
                <input type="text" class="form-control" id="cfrm-interest_rate" />
              </div>
            </div>
          </div>

          <!-- Dates -->
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-date_of_loan">Date of Loan</label>
                <input type="date" class="form-control" id="cfrm-date_of_loan" />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-date_of_loan_expiry">Date of Loan Expiry</label>
                <input type="date" class="form-control" id="cfrm-date_of_loan_expiry" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-last_interaction_date">Last Interaction Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="cfrm-last_interaction_date"
                />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-customer_id">Customer ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="cfrm-customer_id"
                  readonly
                />
              </div>
            </div>
          </div>

          <!-- Risk & Payments -->
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-days_past_due">Days Past Due</label>
                <input type="number" class="form-control" id="cfrm-days_past_due" />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-missed_payments">Missed Payments</label>
                <input type="number" class="form-control" id="cfrm-missed_payments" />
              </div>
            </div>
          </div>

          <!-- Profile -->
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="cfrm-employment_status">Employment Status</label>
                <input type="text" class="form-control" id="cfrm-employment_status" />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="cfrm-income_level">Income Level ($)</label>
                <input type="number" class="form-control" id="cfrm-income_level" />
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer text-right">
        <button type="submit" id="predictResultsBtn" class="btn btn-fill btn-primary">
          Predict Optimal Trade-in Time
        </button>
      </div>
    </div>
  </div>

  <!-- Right Column: Customer Image -->
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body text-center">
        <a href="javascript:void(0)">
          <img
            src="../assets/img/raw.png"
            alt="Customer Image"
            class="img-fluid rounded"
          />
        </a>
      </div>
    </div>
  </div>
</div>
