<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Contract Information</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>First Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  value="Mike"
                />
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  value="Andrew"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button type="submit" class="btn btn-fill btn-primary">
          Predict Optimal Trade-in time
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <a href="javascript:void(0)">
          <img src="../assets/img/raw.png" alt="..." />
        </a>
      </div>
    </div>
  </div>
</div>
