<div class="card-dth">
  <h3>Integrations & Data Health</h3>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">CRM</h5>
          <h3 class="card-title">Connected</h3>
        </div>
        <div class="card-body">
          <i class="tim-icons icon-check-2 text-success"></i>
          <p>OK</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Telematics</h5>
          <h3 class="card-title">Sync: 15 min</h3>
        </div>
        <div class="card-body">
          <i class="tim-icons icon-delivery-fast text-info"></i>
          <p>97% complete</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Contracts DB</h5>
          <h3 class="card-title">Last import: 2h</h3>
        </div>
        <div class="card-body">
          <i class="tim-icons icon-cloud-download-93 text-success"></i>
          <p>Done</p>
        </div>
      </div>
    </div>
  </div>
</div>
