<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">Fleet</a>
      <a href="javascript:void(0)" class="simple-text logo-normal">IQ</a>
    </div>
    <ul class="nav" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="tab"
          href="#dashboard"
          role="tab"
        >
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#contracts" role="tab">
          <i class="tim-icons icon-paper"></i>
          <p>Contracts</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#telematix" role="tab">
          <i class="tim-icons icon-chart-bar-32"></i>
          <p>Telematix</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#user_profile" role="tab">
          <i class="tim-icons icon-single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item active-pro">
        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
          <i class="tim-icons icon-settings-gear-63"></i>
          <p>Settings</p>
        </a>
      </li>
    </ul>
  </div>
</div>
