<div class="card">
  <div class="card-header">
    <h4 class="card-title">Top 5 Customers to Contact Today</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table tablesorter" id="">
        <thead class="text-primary">
          <tr>
            <th>Name</th>
            <th>Vehicle</th>
            <th>Next Service</th>
            <th class="text-center">Usage (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John D.</td>
            <td>BMW X3</td>
            <td>Aug 2025</td>
            <td class="text-center">95</td>
          </tr>
          <tr>
            <td>Urban Rides</td>
            <td>Tesla Model 3</td>
            <td>Sep 2025</td>
            <td class="text-center">89</td>
          </tr>
          <tr>
            <td>ACME Inc.</td>
            <td>Fleet of 5</td>
            <td>Dec 2025</td>
            <td class="text-center">120</td>
          </tr>
          <tr>
            <td>Blue Logistics</td>
            <td>Vans (3)</td>
            <td>Oct 2025</td>
            <td class="text-center">110</td>
          </tr>
          <tr>
            <td>Sarah L.</td>
            <td>Audi A4</td>
            <td>Nov 2025</td>
            <td class="text-center">70</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
