<div class="row">
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text"></p>
        <div class="author">
          <div class="block block-one"></div>
          <div class="block block-two"></div>
          <div class="block block-three"></div>
          <div class="block block-four"></div>
          <a href="javascript:void(0)">
            <img
              class="avatar"
              src="../assets/img/avatar_user.jpg"
              alt="user img"
            />
            <h5 id="username" class="title">[data space]</h5>
          </a>
          <p class="description" id="bedge-user_profile">[data space]</p>
        </div>
        <p></p>
        <div class="card-description">
          <strong>Profiles:</strong>
          <p id="user_profiles">[data space]</p>
        </div>
      </div>
    </div>
  </div>
</div>
